<div class="background_image">
  <div class="logo">
      <h1 style="color:rgb(255, 195, 0);font-size:60px ">Canteen Master</h1>
  </div>
  <!-- <div class="about">
      <h3 style="color:rgb(255, 195, 0)">About</h3>
  </div> -->
 <% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <%= current_user.email %>
 <% else %>
  <button class="button-sign"><%= link_to "Sign In", new_user_session_path, class:"button-font-color" %></button>
  <%= link_to "Sign In", new_user_session_path, class:"button-sign button-font-color" %>
  <br><br>
  <button class="button-sign"><%= link_to "Sign Up", new_user_registration_path, class: "button-font-color" %></button>
 <% end %>
</div>